*{
    font-family: "text";
  }

.ion-padding {
  height: 100%;
}
@font-face {
  font-family: "bigTitle";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "thirdTitle";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "text";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

h1 {
  font-family: "bigTitle";
}
h3 {
  margin-top: 6em;
  margin-bottom: 1em;
  font-family: "thirdTitle";
  font-size: 18px;
}
ion-button {
  height: 48px;
  font-family: "text";
  margin-bottom: 2em;
  margin-top: 2em;
}
p {
  font-family: "text";
  font-size: 14px;
}
