<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/library"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Créer un exercice</h1>
  <form #exerciseForm="ngForm" (submit)="onSubmit(exerciseForm)">
    <ion-list>
      <ion-item lines="none">
        <ion-input required name="name" #name="ngModel" [(ngModel)]="exerciseRequest.name"
          placeholder="Entrez le nom de l'exercice">
          <div slot="label">Nom de l'exercice <ion-text color="danger">*</ion-text>
          </div>
        </ion-input>

        <ion-text color="danger" *ngIf="name.invalid && name.dirty && name.touched">Vous devez entrer un nom pour
          l'exercice.</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea name="description" #description="ngModel" [(ngModel)]="exerciseRequest.description"
          label="Description" placeholder="Entrez une description"></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-radio-group value="start" #exerciseTypeGroup="ngModel" [(ngModel)]="exerciseType" name="exerciseType">
          <ion-radio slot="end" labelPlacement="end" value="repetitions">Nb de répétitions
          </ion-radio>
          <ion-radio slot="end" labelPlacement="end" value="duration">Durée
          </ion-radio>
        </ion-radio-group>
        <ion-text color="danger"
          *ngIf="exerciseTypeGroup.invalid && exerciseTypeGroup.dirty && exerciseTypeGroup.touched">Vous devez
          entrer un nombre de
          séries</ion-text>
      </ion-item>

      <ion-item lines="none" *ngIf="exerciseType === 'repetitions'">
        <ion-input required #repetitions="ngModel" [(ngModel)]="exerciseRequest.repetitions" name="repetitions"
          type="number" placeholder="Entrez un nombre de répétitions">
          <div slot="label">Nombre de répétitions <ion-text color="danger">*</ion-text>
          </div>
        </ion-input>
        <ion-text color="danger" *ngIf="repetitions.invalid && repetitions.dirty && repetitions.touched">Vous devez
          entrer un nombre de
          répétitions</ion-text>
      </ion-item>

      <ion-item lines="none" *ngIf="exerciseType === 'duration'">
        <ion-select required name="exerciseMinutes" [(ngModel)]="durationMinutes" interface="popover">
          <ion-select-option *ngFor="let minute of minutes">{{ minute }}</ion-select-option>
          <div slot="label">Minutes <ion-text color="danger">*</ion-text>
          </div>
        </ion-select>
        <ion-select required name="exerciseSeconds" [(ngModel)]="durationSeconds" interface="popover">
          <ion-select-option *ngFor="let second of seconds">{{ second }}</ion-select-option>
          <div slot="label">Secondes <ion-text color="danger">*</ion-text>
          </div>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-input required #sets="ngModel" name="sets" [(ngModel)]="exerciseRequest.sets" type="number"
          placeholder="Entrez un nombre de séries">
          <div slot="label">Nombre de séries <ion-text color="danger">*</ion-text>
          </div>
        </ion-input>
        <ion-text color="danger" *ngIf="sets.invalid && sets.dirty && sets.touched">Vous devez entrer un nombre de
          séries</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-select required name="level" #level="ngModel" [(ngModel)]="exerciseRequest.level"
          placeholder="Sélectionnez un niveau">
          <ion-select-option value="Facile">Facile</ion-select-option>
          <ion-select-option value="Moyen">Moyen</ion-select-option>
          <ion-select-option value="Difficile">Difficile</ion-select-option>

          <div slot="label">Niveau <ion-text color="danger">*</ion-text>
          </div>
        </ion-select>
        <ion-text color="danger" *ngIf="level.invalid && level.dirty && level.touched">Vous devez choisir un niveau pour
          l'exercice.</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-select required name="bodyPart" #bodyPart="ngModel" [(ngModel)]="exerciseRequest.bodyPart"
          placeholder="Sélectionnez le(s) zone(s)" [multiple]="true">
          <ion-select-option value="pecs">Pecs</ion-select-option>
          <ion-select-option value="shoulders">Épaules</ion-select-option>
          <ion-select-option value="biceps">Biceps</ion-select-option>
          <ion-select-option value="triceps">Triceps</ion-select-option>
          <ion-select-option value="forearms">Avant-bras</ion-select-option>
          <ion-select-option value="traps">Trapèzes</ion-select-option>
          <ion-select-option value="back">Dos</ion-select-option>
          <ion-select-option value="lowerback">Bas du dos</ion-select-option>
          <ion-select-option value="glutes">Fessiers</ion-select-option>
          <ion-select-option value="quadriceps">Quadriceps</ion-select-option>
          <ion-select-option value="hamstrings">Ischios-jambiers</ion-select-option>
          <ion-select-option value="calves">Mollets</ion-select-option>
          <div slot="label">Zone ciblée(s) <ion-text color="danger">*</ion-text>
          </div>

        </ion-select>
        <ion-text color="danger" *ngIf="bodyPart.invalid && bodyPart.dirty && bodyPart.touched">Vous devez choisir au
          minimum une zone.</ion-text>
      </ion-item>
      <ion-item class="audioText" lines="none">
        <ion-text>
          Insérer un commentaire audio
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col class="col-buttons" size="5">
              <ion-button size="medium" (click)="isRecording ? stopRecording() : startRecording()">
                <ion-icon [name]="isRecording ? 'square' : 'mic'"></ion-icon>
              </ion-button>
              <ion-button color="danger" size="medium" *ngIf="audioUrl" (click)="deleteAudio()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="7">
              <audio #audioPlayer controls src="{{ audioUrl }}" controlsList=" nodownload noplaybackrate"></audio>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Insérer une vidéo d'explication</ion-label>
        <input type="file" accept="video/*" (change)="onVideoSelected($event)" />
      </ion-item>
    </ion-list>
    <br />
    <ion-button expand="block" [disabled]="exerciseForm.invalid" type="submit">Créer mon exercice</ion-button>
  </form>


</ion-content>
