*{
  font-family: "text";
}
@font-face {
  font-family: "bigTitle";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
  }

  @font-face {
  font-family: "thirdTitle";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
  }

  @font-face {
  font-family: "text";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
  }


.audio-player-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px; /* Adjust as needed to 'float' above the footer */
  background-color: #DBE3FF; /* Adjust color as needed */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for floating effect */
  padding: 10px;
  margin: 0 10px; /* Give some space from the sides */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* So padding doesn't affect the width */
  z-index: 100;
  height: 75px;
}

.audio-player {
  display: flex;
  align-items: center;
}


.audio-current-time,
.audio-duration {
  margin: 0 5px;
}

ion-icon {
  font-size: 25px;
  color: #644AFF;
}

.audio-controls {
  position: relative; /* Ceci est nécessaire pour que la position absolue de .close-container soit relative à .audio-controls */
}

.audio-details {
  display: flex;
  align-items: center;
  width: calc(100% - 40px); /* Ajustez la largeur en fonction de la position de la croix */
  position: relative; /* Ajoutez une position relative pour positionner la croix */
}

.audio-title {
  flex-grow: 1;
  overflow: hidden; /* Empêche le titre de déborder sur la croix */
  white-space: nowrap; /* Empêche le titre de passer à la ligne */
  text-overflow: ellipsis; /* Affiche des points de suspension si le titre est trop long */
}

.close-container {
  position: absolute;
  top: 5px;
  right: 0; /* Positionnez la croix à droite du conteneur audio-details */
  z-index: 10;
  padding: 5px; /* Ajoutez un espace autour de la croix pour une meilleure expérience utilisateur */
}

.close-modal {
  background-color: transparent;
  color: #644aff;
  font-size: 1em;
  line-height: 1;
  cursor: pointer; /* Changez le curseur pour indiquer qu'il s'agit d'un bouton cliquable */
  border: none; /* Supprimez la bordure par défaut du bouton */
}

.close-modal:hover {
  color: #4285f4; /* Changez la couleur lors du survol pour plus de visibilité */
}
