.audio-player-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px; /* Adjust as needed to 'float' above the footer */
  background-color: #ffffff; /* Adjust color as needed */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for floating effect */
  padding: 10px;
  margin: 0 10px; /* Give some space from the sides */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; /* So padding doesn't affect the width */
  z-index: 100;
}

.audio-player {
  display: flex;
  align-items: center;
}

.audio-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.audio-details {
  display: flex;
  align-items: center;
  width: 100%;
}

.audio-title {
  flex-grow: 1;
}

.audio-current-time,
.audio-duration {
  margin: 0 5px;
}

.audio-progress {
  flex-grow: 2;
}

.icon {
  cursor: pointer;
  font-size: 1.5em;
}

.icon-play::before {
  content: '▶️'; /* Replace with your play icon */
}

.icon-pause::before {
  content: '⏸️'; /* Replace with your pause icon */
}
