<ion-tabs>
  <ion-header>
    <ion-toolbar slot="">
      <ion-buttons slot="secondary">
        <ion-button routerLink="/profile">
          <ion-icon name="person-circle">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="tab.path" *ngFor="let tab of tabs">
      <ion-icon [icon]="tab.icon"></ion-icon>
      <ion-label>{{ tab.title }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
