* {
  font-family: "text";
}


ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-back-button {
  height: auto;
  width: auto;
  position: relative;
  height: 48px;
  float: left;
  margin-left: 16px;
  font-family: "text";
}

ion-icon {
  font-size: 24px; // Taille d'icône standard
}

ion-button {
  height: 48px;
  font-family: "text";
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 16px;
  margin-right: 16px;
}

ion-avatar {
  width: 60px;
  height: 60px;
}

ion-list {
  margin-top: 2em;
}

.item-inner {
  border-bottom: none;
}
@font-face {
  font-family: "bigTitle";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "secondTitle";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "text";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

h2 {
  font-family: "secondTitle";
  font-size: 18px;
}

.avatar {
  margin: auto;
}
