<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/library"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center">Profil</h2>
  <ion-avatar class="avatar">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <br>
  <ion-list>
    <ion-item>
      <ion-input disabled labelPlacement="floating" value="{{user?.username}}">
        <div slot="label">Username
        </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input disabled labelPlacement="floating" value="{{user?.email}}">
        <div slot="label">Email
        </div>
      </ion-input>
    </ion-item>

  </ion-list>

  <ion-button (click)="logOut()" expand="block" color="danger">Se déconnecter</ion-button>

</ion-content>
