<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button defaultHref="/library"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="community-section">
    <h2>La section Communauté est en cours de réalisation</h2>
    <p>Elle sera disponible prochainement</p>
    <img
      src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjRrdm1yOHhnanJ5Zmx6N3l4bGZ0Z2c0OXhocjEyMDZxaGY2MHB1MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oriNZoNvn73MZaFYk/giphy.gif"
      alt="Construction GIF">
    <ion-button href="https://github.com/KevinPasteur/PulsePulse" target="_blank" expand="block">
      Suivez-nous sur GitHub
    </ion-button>
  </div>
</ion-content>
