*{
  font-family: "text";
}

@font-face {
  font-family: "bigTitle";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "thirdTitle";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "text";
  src: url("../../../assets/fonts/poppins-cufonfonts/Poppins-Bold.ttf")
    format("opentype");
}

.custom-text-red {
  color: red;
}

.thumbnail-with-alert {
  width: 100%;
  position: relative;
  display: inline-block;

  .exercise-alert {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgb(124, 0, 128);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: small;
    z-index: 10;
  }

  img {
    width: 100%;
    height: auto;
  }
}

ion-segment-button {
  --indicator-color: #644AFF;
  --background-checked: transparent;
}

/* Material Design styles */
ion-segment-button.md {
  --color: #000;
  --color-checked: #644AFF;
  --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {

  --color: #644AFF;
  --color-checked: #fff;
  --border-radius: 20px;
}


.custom-add-button {
  padding: 0;
  border: 2px solid #644AFF;
  border-radius: 10px;
  color: #644AFF;
  font-weight: bold;
  font-family: text;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
  height: 100px;

  --background: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  text-decoration: none;
}

.icon-holder {
  background-color: #644AFF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  margin-right: 8px;
}

.add-align {
  display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.icon-add{
  border-radius: 50%;
  padding: 0.2rem;
  font-size: 2rem;
  color: #644AFF;
  background-color: white;
}

.ion-icon-dots {
  margin: 0;
  color: black;
  font-size: 20px;
}

.custom-item {
  --background: #DBE3FF;
  --border-radius: 10px;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;

  --min-height: 70px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

p{
  font-family: text;
  font-weight: bold;
  color: #644AFF;
}

h2 {
  font-family: "bigTitle";
  font-weight: bold;
}


.exercise-info {
  padding-left: 10px;
}

.exercise-info h3 {
  margin: 0;
  color: #000;
  font-size: 1.2em;
  font-family: text;
  margin-bottom: 10px;
}

.exercise-info p {
  margin: 0;
  color: #555;
}

ion-text {
  font-weight: bold;
  color : #644AFF;
}

.icon-play {
  font-size: 2rem;
}

.ion-chevron {
  font-size: 20px;
  color: #644AFF;
}

ion-modal {
  --height: 95%;
  --width: 95%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal {
  h3{
    font-family: "thirdTitle";
  }

  ion-text {
    font-weight: bold;
    color : #644AFF;
  }

  ion-note {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 20px;
    background-color:#644AFF ;
    color : white;
  }

  ion-content {
    font-family: text;
    --background: #DBE3FF;
    --color: black;
  }
}

.videoPlayer {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.exercise-alert {
  background-color: rgb(124, 0, 128);
  color: white !important;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: medium;
  z-index: 10;
}

.thumbnail-with-alert {
  position: relative;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}
