<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/library"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-audio-player></app-audio-player>
  <h2>{{ workout?.name }}</h2>
  <p>{{ averageLevel }}</p>
  <ion-button (click)="openExerciseModal()" expand="block" class="custom-add-button">
    <span class="icon-holder">
      <ion-icon class="icon-add" name="add"></ion-icon>
    </span>
    <ion-label>Ajouter un exercice</ion-label>
  </ion-button>
  <ion-list>
    <div *ngFor="let exercise of exercisesFromAWorkout; let i = index">
      <ion-item (click)="openModal(exercise)" class="custom-item" lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-thumbnail class="thumbnail-with-alert" aria-hidden="true">
                <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-thumbnail>
            </ion-col>
            <ion-col size="7">
              <div class="exercise-info">
                <div class="exercise-title">
                  <h3>{{ exercise.name }}</h3>
                </div>
                <ion-text>
                  {{ exercise?.repetitions }} {{exercise?.duration}} x {{exercise?.sets}}
                </ion-text>
              </div>
            </ion-col>
            <ion-col size="2">
              <ion-button id="popover-button-{{i}}" fill="clear" (click)="stopEventPropagation($event)">
                <ion-icon class="ion-icon-dots" icon-only name="ellipsis-horizontal"></ion-icon>
              </ion-button>
              <ion-button fill="clear">
                <ion-icon class="ion-chevron" name="chevron-forward-outline"></ion-icon>
              </ion-button>
              <ion-popover trigger="popover-button-{{i}}" [dismissOnSelect]="true">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item [button]="true" [detail]="false">Retirer l'exercice du workout</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
    <ion-modal #exerciseModal>
      <ng-template>
        <ion-content class="ion-padding">
          <div class="card-detail">
            <ion-buttons>
              <ion-button (click)="exerciseModal.dismiss()">X</ion-button>
            </ion-buttons>
            <h3>{{ selectedExercise?.name }}</h3>
            <ion-text>
              {{ selectedExercise?.repetitions }} reps {{selectedExercise?.duration}} x {{selectedExercise?.sets}}
              série(s)
            </ion-text>
            <br />
            <br />
            <div class="thumbnail-with-alert" *ngIf="selectedExercise?.videoLink">
              <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source src="{{selectedExercise?.videoLink}}" type="video/mp4" />
              </video>
              <div class="exercise-alert"> {{ selectedExercise?.level }}</div>
            </div>

            <div *ngIf="selectedExercise?.description">
              <p>Description</p>
              {{selectedExercise?.description}}
            </div>
            <p>Partie du corps</p>
            <div class="bodyPart-content">
              <div *ngFor="let part of selectedExercise?.bodyPart; let i = index">
                <ion-note>{{translateBodyPart(part)}}</ion-note>
              </div>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-list>
</ion-content>
