ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}



.custom-add-button {
  border: 2px solid #d1d1d1; /* or other color */
  border-radius: 10px; /* Adjust for roundness */
  padding: 10px 20px;
  font-size: 16px; /* Adjust as needed */
  color: #555; /* Adjust text color as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and text */
  outline: none;
  cursor: pointer;
  margin-bottom: 1rem;
  height: 100px;

  --background: transparent; /* Supprime le fond par défaut */
  --background-focused: transparent; /* Supprime le fond lorsque le bouton est focus */
  --background-hover: transparent; /* Supprime le fond au survol */
  --background-activated: transparent; /* Supprime le fond lorsqu'il est activé/click */
  text-decoration: none; /* Supprime le soulignement des liens */
  color: inherit; /* Utilise la couleur de texte héritée */

}

.icon-holder {
  background-color: #7C4DFF; /* Purple background */
  border-radius: 20px; /* Circular shape */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px; /* Icon container width */
  height: 100px; /* Icon container height */
}

ion-icon {
  color: white; /* Icon color */
  font-size: 20px; /* Icon size */
}



.custom-item {
  --background: #E0E0FF; /* Adjust the color to match the image */
  --border-radius: 20px; /* Rounded corners */
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;

  --min-height: 70px; /* Remplacez 70px par la hauteur que vous souhaitez */
  --padding-top: 10px; /* Ajustez le padding supérieur selon vos besoins */
  --padding-bottom: 10px; /* Ajustez le padding inférieur selon vos besoins */
}

.thumbnail-with-alert {
  width: 100%;
  position: relative;
}

.exercise-info {
  padding-left: 10px; /* Space from the thumbnail */
}

.exercise-info h3 {
  margin: 0;
  color: #000; /* Text color for the exercise name */
  font-size: 1.2em;
}

.exercise-info p {
  margin: 0;
  color: #555; /* Text color for the repetitions */
}

.icon-col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px; /* Space from the edge */
}

ion-icon {
  font-size: 1.5em; /* Adjust icon size */
}
